*{
   margin: 0;
   padding: 0;
}

.hidden{
   display: none;
}
.wrapper{
   height: 80vh;
}
.input-box{
   height:100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.result-box{
   text-align: center;
}